body {
    font-family: 'Open Sans',sans-serif;
    margin: 0;
    background-color: rgb(247,239,247);
    color: rgb(44, 41, 44);
}

#main-header {
    background-color: rgb(140,0,255);
    color: white;
    padding: 2rem 5%;
    text-align: center;
}

.btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    background-color: rgb(140,0,255);
    border: 1px solid rgb(140, 0, 255);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-alt {
    background-color: transparent;
    border-color: transparent;
    color: rgb(140, 0, 255);
}

.btn:hover {
    background-color: rgb(79, 10, 190);
    border-color: rgb(79, 10, 190);
}

.btn-alt:hover {
    background-color: rgb(245, 232, 255);
    border-color: transparent;
}

@media(min-width:48rem){
    .modal {
        left: calc(50% - 20rem);
        width: 40rem;
    }
}